<div class="">
    <div class="">
        <br>
        <div class="col-12 md:col-6">
            <div class="p-fluid formgrid grid px-4 py-8 md:px-6 lg:px-8">
                <div class="field col-12 lg:col-6 p-float-label mb-4">
                    <input id="username" type="text" class="py-3 px-2 text-lg" pInputText placeholder="username"> 
                </div>
                <div class="field col-12 lg:col-6 p-float-label mb-4">
                    <input id="Quantity" type="number"  class="py-3 px-2 text-lg" pInputText placeholder="Estimated Quantity per person "> 
                </div>
            
                <div class="field col-12 mb-4">
                    <input id="mobile" type="text" pInputText class="py-3 px-2 text-lg" placeholder="Phone number"> 
                </div>
                <div class="field col-12 mb-4">
                    <textarea id="Address" pInputTextarea rows="3" class="py-3 px-2 text-lg" placeholder="Address"></textarea> 
                </div>
                <div class="col-12 text-right">
                    <button type="button" pButton pRipple label="Submit" icon="pi pi-envelope" class="px-5 py-3 w-auto">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>